<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">computer</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Direction informatique</p>
                        <h3 class="card-title">2</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">people</i> Nombre employés
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">public</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Direction marketing</p>
                        <h3 class="card-title">3</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">people</i> Nombre employés
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">equalizer</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Direction commerciale</p>
                        <h3 class="card-title">1</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">people</i> Nombre employés
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">location_city</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Direction administrative</p>
                        <h3 class="card-title">1</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">people</i> Nombre employés
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card card-product">
                    <div class="card-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/02_facebook.png">
                        </a>
                    </div>
                    <div class="card-content">
                        
                        <h4 class="card-title">
                            <a href="https://www.facebook.com/bountouu1x2/"  target="_blank">Facebook</a>
                        </h4>
                        <div class="card-description">
                            Vous trouverez nos dernières nouvelles à la page Facebook ci-dessus ...
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="price">
                            <h4>235K abonnés</h4>
                        </div>
                    </div>
                </div>
            </div>
          
          
            <div class="col-sm-6 col-lg-3">
                    <div class="card card-product">
                        <div class="card-image" data-header-animation="true">
                            <a href="#pablo">
                                <img class="img" src="../assets/img/10_instagram.png">
                            </a>
                        </div>
                        <div class="card-content">
                           
                            <h4 class="card-title">
                                <a href="https://www.instagram.com/bountou1x2/"  target="_blank">Instagram</a>
                            </h4>
                            <div class="card-description">
                                    Vous trouverez nos dernières nouvelles à la page Instagram ci-dessus ...
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="price">
                                <h4>77 abonnés</h4>
                            </div>
                        </div>
                    </div>
                </div>
          
          
            <div class="col-sm-6 col-lg-3">
                    <div class="card card-product">
                        <div class="card-image" data-header-animation="true">
                            <a href="#pablo">
                                <img class="img" src="../assets/img/14_google+.png">
                            </a>
                        </div>
                        <div class="card-content">
                           
                            <h4 class="card-title">
                                <a href="https://plus.google.com/u/0/117935631025951433360"  target="_blank">Google+</a>
                            </h4>
                            <div class="card-description">
                                    Vous trouverez nos dernières nouvelles à la page Google+ ci-dessus ...
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="price">
                                <h4>268 abonnés</h4>
                            </div>
                        </div>
                    </div>
                </div>
       
            <div class="col-sm-6 col-lg-3">
                <div class="card card-product">
                    <div class="card-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/01_twitter.png" height="42" width="42">
                        </a>
                    </div>
                    <div class="card-content">
                        
                        <h4 class="card-title">
                            <a href="https://twitter.com/bountou1x2"  target="_blank">Twitter</a>
                        </h4>
                        <div class="card-description">
                                Vous trouverez nos dernières nouvelles à la page Twitter ci-dessus ...
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="price">
                            <h4>111 abonnés</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="red">
                        <i class="material-icons">language</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Top pays en paris sportif</h4>
                        <div class="row">
                            <div class="col-md-5">
                                <md-table [data]="tableData">
                                </md-table>
                            </div>
                            <div class="col-md-6 col-md-offset-1">
                                <div id="worldMap" class="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>

        <!--
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header" data-background-color="green" data-header-animation="true">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title">Daily Sales</h4>
                        <p class="category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header" data-background-color="orange" data-header-animation="true">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title">Completed Tasks</h4>
                        <p class="category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header" data-background-color="red" data-header-animation="true">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title">Website Views</h4>
                        <p class="category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    -->
    </div>
</div>