<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
                <ul>
                        <li>
                            <a href="http://mdavic.epizy.com/?i=1#about" target="_blank">
                                Compagnie
                            </a>
                        </li>
                        <li>
                            <a href="http://mdavic.epizy.com/?i=1#download" target="_blank">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/mdavicstaff" target="_blank">
                                Github
                            </a>
                        </li>
                    </ul>
        </nav>
        <p class="copyright pull-right">
                &copy;
                {{test | date: 'yyyy'}}
                <a href="http://www.mdavic.epizy.com/?i=1" target="_blank">MDAVIC</a> , Talk is cheap, just show me the code.
            </p>
    </div>
</footer>
